@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-gray-100 text-gray-800;
    font-family: 'Inter', sans-serif;
  }

  h1, h2, h3, h4 {
    @apply font-semibold text-gray-900;
  }

  thead[aria-hidden="true"] {
    display: table-header-group !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
  
}
